#row_b {
    background-color: RGBA(74,74,74,0.7);
}

.text{}


.txt {
    width: 280px;
    height: 440px;
    text-align: right;
    margin-right: (100%-200px)
}


.txt #wht{
    font-size: 3rem;
    font-weight: 400;
    width: 270px;
    height: 20px;
    text-align: right;
    
    
}

.txt #intro{
    
    font-size: 2rem;
    color: white;
    margin-top: 40px;
    text-align: right;
}


.txt #wel{
    font-size: 3.5rem;
    font-weight: 400;
/*     text decoration: underline;*/
/*     color: #c43b3b;*/
}
